#header {
    background: rgba(2, 41, 58,1) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0 50px 0px;
    color: #fff;
}
#background {
    background: url(images/bregenz.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 250px 0;
}
#did-do {
    background: 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0px 50px 0px;
}
#background2 {
    background: url(images/bregenz.jpg) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
}
#details {
    background: 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0px 50px 0px;
}
#love {
    background: 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
}
#contact {
    background: rgba(2, 41, 58,1) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
    color: #fff;
}

/* Color palette as RGBa codes with the help of paletton.com */

.rgba-primary-0 { color: rgba( 39, 87,107,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(119,145,156,1) }
.rgba-primary-2 { color: rgba( 74,114,132,1) }
.rgba-primary-3 { color: rgba( 13, 62, 83,1) }
.rgba-primary-4 { color: rgba(  2, 41, 58,1) }

.rgba-secondary-1-0 { color: rgba(113, 38,110,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(165,124,163,1) }
.rgba-secondary-1-2 { color: rgba(139, 76,136,1) }
.rgba-secondary-1-3 { color: rgba( 87, 11, 84,1) }
.rgba-secondary-1-4 { color: rgba( 61,  0, 59,1) }

.rgba-secondary-2-0 { color: rgba(166,169, 56,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(245,246,186,1) }
.rgba-secondary-2-2 { color: rgba(205,208,113,1) }
.rgba-secondary-2-3 { color: rgba(128,130, 16,1) }
.rgba-secondary-2-4 { color: rgba( 89, 92,  0,1) }
