@font-face {
    font-family: 'bodonitownregular';
    src: url('fonts/Bodonitown-webfont.eot');
    src: url('fonts/Bodonitown-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bodonitown-webfont.woff') format('woff'),
         url('fonts/Bodonitown-webfont.ttf') format('truetype'),
         url('fonts/Bodonitown-webfont.svg#bodonitownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'bodonitownregular', serif;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 36px;
}

a {
  color: rgba(119, 145, 156, 1);
}

a:hover {
  color: rgba(74, 114, 132, 1);
  text-decoration: none;
}

.row {
  padding: 0px 50px;
}

#did-do > a {
  color: rgba(128, 130, 16, 1);
  text-decoration: none;
}

#header {
    background: url('images/header.png') rgba(2, 41, 58,1) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0px;
    color: #fff;
}

#background {
    background: url(images/bregenz.jpg) 50% 0 fixed;
    height: auto;
    margin: 0;
    width: 100%;
    position: relative;
    padding: 260px 0;
}
#did-do {
    background: 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0px 50px 0px;
}

#details {
    background: url('images/header.png') rgba(2, 41, 58,1) 50% 0 fixed;
    height: auto;
    margin: 0;
    width: 100%;
    position: relative;
    padding: 50px 0px 50px 0px;
    color: #fff;
}

#love {
    background: 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
}
#contact {
    background: url('images/header.png') rgba(2, 41, 58, 1) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 50px 0px;
    color: #fff;
}

/* Color palette as RGBa codes with the help of paletton.com */

.rgba-primary-0 { color: rgba( 39, 87,107,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(119,145,156,1) }
.rgba-primary-2 { color: rgba( 74,114,132,1) }
.rgba-primary-3 { color: rgba( 13, 62, 83,1) }
.rgba-primary-4 { color: rgba(  2, 41, 58,1) }

.rgba-secondary-1-0 { color: rgba(113, 38,110,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(165,124,163,1) }
.rgba-secondary-1-2 { color: rgba(139, 76,136,1) }
.rgba-secondary-1-3 { color: rgba( 87, 11, 84,1) }
.rgba-secondary-1-4 { color: rgba( 61,  0, 59,1) }

.rgba-secondary-2-0 { color: rgba(166,169, 56,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(245,246,186,1) }
.rgba-secondary-2-2 { color: rgba(205,208,113,1) }
.rgba-secondary-2-3 { color: rgba(128,130, 16,1) }
.rgba-secondary-2-4 { color: rgba( 89, 92,  0,1) }
